/*********************
*  Filename: main.css
*  10/05/2016
*  By Dave Anderson
*********************/

/********************************/
/* @font-face rule declarations */
/********************************/
@font-face {
   font-family: 'RobotoSlab';
   src: url('../fonts/RobotoSlab-Regular.ttf');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'RobotoSlab';
   src: url('../fonts/RobotoSlab-Bold.ttf');
   font-weight: bold;
   font-style: normal;
}
/*****************/
/* main elements */
/*****************/
html {
   background-color: rgb(0, 0, 0);
}
body {
   width: 700px;
   font-family: RobotoSlab;
   margin: 0 auto;
   background-color: rgb(0, 0, 0);
}
header {
   height: 120px;
   color: rgb(255, 255, 0);
   background-color: rgb(9, 124, 0);
   text-align: center;
   margin: 40px;
   padding: 0 10px;
   border-radius: 25px;
   box-shadow: 10px 10px 10px 1px rgba(255, 255, 255, .5);
}
header h1 {
   font-size: 2.5em;
   text-shadow: 5px 5px 1px rgba(255, 255, 255, .5);
}
nav a {
   color: rgb(255, 255, 0)
}
blockquote {
   margin: 0 0 20px 0;
   padding: 1px 20px 20px 20px;
   background-color: rgb(175, 255, 255);
   border-radius: 25px;
}
footer {
   margin-bottom: 20px;
   padding: 20px;
   border-radius: 25px;
   background: linear-gradient(top, #80ff5c 0%, #b7fca3 100%);
   background: -moz-linear-gradient(top, #80ff5c 0%, #b7fca3 100%);
   background: -webkit-linear-gradient(top, #80ff5c 0%, #b7fca3 100%);
}
/************/
/* sections */
/************/
#multimedia {
   text-align: center;
   margin-bottom: 20px;
   background-color: rgb(183, 252, 163);
   padding: 1px 20px;
   border-radius: 25px;
}
#audio {
   width: 400px;
   margin: 0 auto;
   padding: 20px 0 0 20px;
   border: 1px solid black;
   border-radius: 25px;
}
#image {
   margin: 0;
}
#information {
   float: left;
   width: 60%;
   background-color: rgb(211, 211, 255);
   margin-bottom: 20px;
   padding: 0 10px;
   border-radius: 25px;
}
#blog {
   float: right;
   width: 30%;
   background-color: rgb(255, 213, 213);
   margin-bottom: 20px;
   padding: 0 10px;
   border-radius: 25px;
}
#recipe {
   clear: both;
   background-color: rgb(255, 255, 165);
   margin-bottom: 20px;
   padding: 20px;
   border-radius: 25px;
}
#about {
   background-color: rgb(175, 255, 255);
   margin-bottom: 20px;
   padding: 20px;
   border-radius: 25px;
}
#contact_form {
   background-color: rgb(183, 252, 163);
   padding: 20px;
   border-radius: 25px;
}
/***********************/
/* other desert cities */
/***********************/
p {
   font-family: 'Merriweather Sans';
   font-size: 1em;
   font-weight: normal;
   font-style: normal;
}
video {
   display: block;
   margin: 0 auto;
}
audio {
   display: block;
   margin: 0 auto;
}
img {
   display: block;
   margin: 0 auto;
}
